body {
    margin: 0px;
    padding: 0px;
    background: rgb(236,87,101);
    background: linear-gradient(90deg, rgba(236,87,101,1) 0%, rgba(123,89,238,1) 100%);
}
/* navigation */

.navbar {
  overflow: hidden;
  background: rgb(236,87,101);
  background: linear-gradient(90deg, rgba(236,87,101,1) 0%, rgba(123,89,238,1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  font-family: Poppins, sans-serif;
  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #1a0e00;
  text-align: center;
  padding: 26px 36px;
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  text-decoration: underline;
}

#showcase {
    width: 880px;
    height: 220px;
    margin: auto;
    position: relative;
    overflow: visible;
    top: calc(50vh - 300px);
}

.letter {
  /***  position: absolute; */
    opacity: 0;
    animation: opacity 2s ease 1s forwards;
}

@keyframes opacity{
    from{ opacity: 0; }
    to { opacity: 1; }
}


#T {
    width: 220px;
    height: 220px;
    display:inline-block;
}

#Y {
    width: 220px;
    height: 220px;
    display:inline-block;
}

#P {
    width: 220px;
    height: 220px;
    display:inline-block;
}

#E {
    width: 220px;
    height: 220px;
    display:inline-block;
}

.T-vertical-stroke {
    width: 20px;
    height: 140px;
    top: 62px;
    left: 100px;
    display: block;
    position: absolute;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 0px 32px 32px;
}
.T-horizontal-stroke1 {
    width: 60px;
    height: 20px;
    top: 20px;
    left: 20px;
    display: block;
    position: absolute;
    background: transparent;
    border: 1px dashed;
    border-radius: 32px 64px 0px 32px;
}

.T-horizontal-stroke2 {
    width: 60px;
    height: 20px;
    top: 20px;
    left: 140px;
    display: block;
    position: absolute;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 32px 32px 0px;
}

.T-horizontal-stroke3 {
    width: 100px;
    height: 20px;
    top: 41px;
    left: 60px;
    display: block;
    position: absolute;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 0px 64px 64px;
}


.Y-horizontal-stroke1 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    left: 240px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0 64px;
}

.Y-horizontal-stroke2 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 41px;
    left: 260px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0px 64px;
}

.Y-horizontal-stroke3 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 62px;
    left: 280px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0px 64px;
}

.Y-horizontal-stroke4 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 83px;
    left: 300px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0px 64px;
}

.Y-horizontal-stroke5 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    left: 400px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke6 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 41px;
    left: 380px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke7 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 62px;
    left: 360px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke8 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 83px;
    left: 340px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke9 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 104px;
    left: 320px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke10 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 125px;
    left: 300px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke11 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 146px;
    left: 280px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke12 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 167px;
    left: 260px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.Y-horizontal-stroke13 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 188px;
    left: 240px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}



.P-vertical-stroke {
    width: 20px;
    height: 180px;
    display: block;
    position: absolute;
    top: 20px;
    left: 480px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 32px 32px;
}

.P-horizontal-stroke1 {
    width: 120px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    left: 501px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0px 0px;
}

.P-horizontal-stroke2 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 41px;
    left: 600px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0px 64px;
}

.P-horizontal-stroke3 {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 62px;
    left: 620px;
    background: transparent;
    border: 1px dashed;
}

.P-horizontal-stroke4 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 83px;
    left: 600px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.P-horizontal-stroke5 {
    width: 120px;
    height: 20px;
    display: block;
    position: absolute;
    top: 104px;
    left: 501px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 0px 64px 0px;
}



.E-vertical-stroke {
    width: 20px;
    height: 100px;
    display: block;
    position: absolute;
    top: 62px;
    left: 680px;
    background: transparent;
    border: 1px dashed;
}

.E-horizontal-stroke1 {
    width: 120px;
    height: 20px;
    display: block;
    position: absolute;
    top: 20px;
    left: 700px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 32px 32px 0px;
}

.E-horizontal-stroke2 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 41px;
    left: 680px;
    background: transparent;
    border: 1px dashed;
    border-radius: 64px 0px 64px 0px;
}

.E-horizontal-stroke3 {
    width: 120px;
    height: 20px;
    display: block;
    position: absolute;
    top: 100px;
    left: 701px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 32px 32px 0px;
}

.E-horizontal-stroke4 {
    width: 40px;
    height: 20px;
    display: block;
    position: absolute;
    top: 163px;
    left: 680px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 64px 0px 64px;
}

.E-horizontal-stroke5 {
    width: 140px;
    height: 20px;
    display: block;
    position: absolute;
    top: 184px;
    left: 700px;
    background: transparent;
    border: 1px dashed;
    border-radius: 0px 32px 32px 64px;
}

#showcase:hover {
    transform: scale(1.5);
}

.letter:hover > div {
    border: 1px solid;
    animation: shake 0.5s; 
    animation-iteration-count: infinite;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-5px, -10px) rotate(-5deg); }
  20% { transform: translate(-3px, 0px) rotate(5deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(5px, -5px) rotate(5deg); }
  50% { transform: translate(-5px, 2px) rotate(-5deg); }
  60% { transform: translate(-3px, 5px) rotate(0deg); }
  70% { transform: translate(3px, 5px) rotate(-5deg); }
  80% { transform: translate(-5px, -5px) rotate(5deg); }
  90% { transform: translate(5px, 2px) rotate(0deg); }
  100% { transform: translate(5px, -2px) rotate(-5deg); }
}
