body {
	margin: 0px;
	padding: 0px;
	background: rgb(236,87,101);
	background: linear-gradient(90deg, rgba(236,87,101,1) 0%, rgba(123,89,238,1) 100%);
}
/* navigation */

.navbar {
  overflow: hidden;
  background: rgb(236,87,101);
  background: linear-gradient(90deg, rgba(236,87,101,1) 0%, rgba(123,89,238,1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  font-family: Poppins, sans-serif;
  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #1a0e00;
  text-align: center;
  padding: 26px 36px;
  text-decoration: none;
  font-size: 22px;
}

.navbar a:hover {
  text-decoration: underline;
}

/* stage */

#showcase {
	width: 80vw;
	position: relative;
	overflow: visible;
	margin:0 auto;
	top: calc(50vh - 400px);
}

hr.breakline{
  border-top: 3px dashed black;
}

/* images */

svg:hover path {
	fill: pink ;
}

img{
	max-width:80vw;
	max-height:80vh;
}

#showcase > img {
	margin-bottom:15vh;
}

.alphabet > img {
	width:10%;
	padding: 5%;
	float:left;
}
